#colophon {
  background: #2b2b2b;
  padding: 15px 10px 15px 10px;
  color: #f5f5f5;
  font-size: 13px;
  text-align: center;
}
#colophon_1 {
  color: white;
  text-decoration: underline;
}
#masthead {
  text-align: center;
  background: white;
  color: #222;
}
#masthead #text-title-desc {
  clear: none;
  float: none;
  vertical-align: middle;
}
#masthead h1.site-title {
  font-size: 37px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 0px;
}
.title-font {
  font-family: "Montserrat", sans-serif;
}
.site-branding {
  padding: 33px 0;
  position: relative;
  top: 0px;
  overflow: hidden;
  display: inline-block;
  float: left;
  text-align: left;
}